
<div class="view-contact">
    <a href="https://www.facebook.com/kentanew">
        <div class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
            <span class="visuallyhidden">Facebook</span>
        </div>
    </a>
</div>
